
body {
    min-height: 100vh;
    width: 100%;
    background: #009579;
    background-image: linear-gradient(150deg, rgb(255, 115, 0), rgb(255, 255, 255), rgb(0, 255, 106));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    margin-top:-10px;
    width: 80%;
    height: 80%;

}

.Log-image {
    padding-top: 0px;
    margin-top: 90px;
    text-align: center;
}
.Log-image img{
margin-top: 80px;
margin-left: 40px;
margin-right: 90px;
}

.select-user {
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    width: 5%;
    height: 5%;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.login-button, .signup-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0400ff;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 16px;
}

.login-button:hover, .signup-button:hover {
    background-color: rgb(0, 255, 217);
    color: #000;
}

/*---------------------------------------------------------Nav Bar--------------------------------------*/
